.create-post {
  @include box-componente(15, 10, 10);
  background-color: white;
  .create-post__buttons {
    @include flex(space-around, center);
    border-top: 1px solid #e4e4e4;
    &__button {
      @include flex(space-around, center, 10);
      span {
        color: #656565;
      }
      .one {
        color: red;
      }
      .two {
        color: orange;
      }
      .three {
        color: green;
      }
    }
  }
}
@media (max-width: 768px) {
  .create-post__buttons span {
    font-size: 15px;
  }
}
